
@model WatchShop.Models.Order

@{

}

<table class="table caption-top">
    <caption>
        <p style="font-style:italic" class=" text-muted mb-2">Order ID : @Model.Id</p>
    </caption>
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Watch</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>

    <tfoot class="border-top border-dark">
        <tr>
            <th scope="row"></th>
            <td>
                <h5>Total Price:</h5>
            </td>
            <td>$89</td>
        </tr>
    </tfoot>
</table>