@page "{PageMode?}"
@using WatchShop.Enums;
@using WatchShop.Utils;
@model WatchShop.Pages.Auth.indexModel
@{
   
}

@* Minh lam Dang nhap Dk quenmk chung mot file  *@

@{
    switch(Model.PageMode){
        case AuthPage.Login:
            @* a bo html vao day  cho trang login*@
            <div id="logreg-forms">
                <form class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
                    <div class="social-login">
                        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
                    </div>
                    <p style="text-align:center"> OR  </p>
                    <input   type="text" id="inputEmail" class="form-control" placeholder="User Name" autofocus="">
                    <input  type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

                    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                    <a asp-route-PageMode=@AuthPage.Forgot asp-page="/Auth/index" id="forgot_pswd">Forgot password?</a>
                    <hr>
                    <!-- <p>Don't have an account!</p>  -->
                    <a  asp-route-PageMode=@AuthPage.Register asp-page="/Auth/index"> <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button> </a>
                   
                </form>

                <br>

            </div>
           //  <p style="text-align:center">
           //    <a href="http:bit.ly/2RjWFMfunction toggleResetPswd(e){
           // e.preventDefault();
           // ('#logreg-forms .form-signin').toggle() display:block or none
           // ('#logreg-forms .form-reset').toggle() display:block or none
           // }
           // function toggleSignUp(e){
           // e.preventDefault();
           // ('#logreg-forms .form-signin').toggle(); display:block or none
           // ('#logreg-forms .form-signup').toggle(); display:block or none
           // }
           // $(()=>
           //  {
           //  Login Register Form
           //  ('#logreg-forms #forgot_pswd').click(toggleResetPswd);
           //  ('#logreg-forms #cancel_reset').click(toggleResetPswd);
           //  ('#logreg-forms #btn-signup').click(toggleSignUp);
           //  ('#logreg-forms #cancel_signup').click(toggleSignUp);
           //  })g" target="_blank" style="color:black">By Artin
           //      </a>
           //  </p>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="/script.js"></script>
    break;
    case AuthPage.Register:
    @* a bo html vao day  cho trang Register*@

            <div class="container register-form">
                <div class="form">
                    <div class="note">
                        <p>This is simpleRegister</p>
                    </div>

                    <div class="form-content">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name *" value="" />
                                    </div>
                                </p>
                                <p>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Confirm Password *" value="" />
                                    </div>
                                </p>

                                <p>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Password *" value="" />
                                    </div>
                                </p>
                                <p>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone Number*" value="" />
                                    </div>
                                </p>
                                
                                
                            </div>
                        </div>
                        <button type="button" class="btnSubmit">Submit</button>
                    </div>
                </div>
            </div>







    break;
    case AuthPage.Forgot:
    @* a bo html vao day  cho trang Forgot*@
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                        <div class="d-table-cell align-middle">

                            <div class="text-center mt-4">
                                <h1 class="h2">Reset password</h1>
                                <p class="lead">
                                    Enter your email to reset your password.
                                </p>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <form>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email">
                                            </div>
                                            <div class="text-center mt-3">
                                                <a href="index.html" class="btn btn-lg btn-primary">Reset password</a>
                                                <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>






    break;
  }
}
  